$main-blue: #4c6fff;
$second-blue: #4d5bec;
$white: #ffffff;
$black: #000000;
$gray: #c1c1c1;
$gray-lite: #f1f4f8;
$secondary-text: #6e7c87;
$Transparent-0: rgba(0, 0, 0, 0);
$secondary-bg: #e8edf6;
$red: #FA243C;
$red-dark: #e7253c;