@import './global-styling/reset';
@import './global-styling/variables';
@import './global-styling/colors';
@import './global-styling/components';

main {
  width: 100%;
  height: 100vh;
  @include flex-js-is();
  background: $secondary-bg;
  padding: 12rem 10rem;
}

// Section Style
.section-style {
  width: 100%;
}

// Products Center
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
}

// ----- Product Card -----
.product-card {
  width: 30rem;
  @include column-jc-ic();
  background: $white;
  padding: 1rem;
  border-radius: 2rem;

  .product-card__image-box {
    width: 100%;
    height: 25vh;
    @include flex-jc-ic();
    border-radius: 1.5rem;
    overflow: hidden;

    // Like Image
    .icon-box-s {
      display: none;
    }
  }

  //Info
  .product-info {
    width: 100%;
    @include column-js-ic();
    padding: 1.5rem;

    h3 {
      font-weight: 500;
    }

    .buy-container {
      width: 100%;
      @include flex-jb-ic();
      margin-top: 1rem;

      // Price
      .price-container {
        span {
          color: $secondary-text;
          font: {
            weight: 500;
            size: 1.6rem;
          }
        }
      }
    }
  }
}

.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.27);
  padding: 2rem;
  transition:  0.4s;
  z-index: 149;
  visibility: hidden;
}

.visibleOverlay {
  visibility: visible;
}

// ---- Cart ----
.cart-menu {
  width: 45.5rem;
  height: 100vh;
  @include column-jc-ib();
  position: fixed;
  top: 0;
  right: 0;
  background: $white;
  padding: 2rem;
  transition: 0.4s;
  z-index: 150;
  transform: translateX(100%);
  visibility: hidden;
}

.show-cart-menu {
  visibility: visible;
  transform: translateX(0%);
}

// Cart header
.cart-header {
  width: 100%;
  @include flex-jb-ic();
  padding: 0 1rem;
}

#clear-cart-btn {
  font-size: 1.4rem;
  transition: 0.2s;

  &:hover {
    color: $red;
  }
}

.cart-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: auto;
  padding: 2rem 1rem;
}

.cart-content-hide {
  display: none;
}

// Empty cart message
.empty-cart-msg {
  color: $secondary-bg;
  height: 100%;
  @include column-jc-ic();
  user-select: none;
  display: none;

  p {
    font-size: 3rem;
  }
}

.empty-cart-msg-visible {
  display: flex;
}

.cart-item {
  width: 100%;
  height: 7.9rem;
  display: grid;
  grid-template-columns: 5rem 1fr auto;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  grid-gap: 0.5rem 1rem;
  background: $secondary-bg;
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 0 0.05rem #a1a6b3;
  }
}

// Product image
.image-box-s {
  width: 5.9rem;
  height: 5.9rem;
  grid-column: 1/2;
  grid-row: 1/-1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}

// Product name
.cart-item__name {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.6rem;
}

// Product price
.cart-item__price {
  grid-column: 2/3;
  grid-row: 2/-1;
  font: {
    size: 1.8rem;
    weight: 500;
  }
}

// Product badge/number
.cart-item__amount {
  grid-column: 3/-1;
  grid-row: 1/2;
  justify-self: end;
  @include flex-jc-ic();
  gap: 1rem;
  font-size: 1.5rem;
}

// Remove  button
.cart-item__remove-btn {
  grid-column: 3/-1;
  grid-row: 2/-1;
  justify-self: end;
}

// Cart Total
.cart-total {
  width: 70%;
  position: relative;
  @include flex-jc-ic();

  p {
    font: {
      size: 1.8rem;
      weight: 500;
    }
  }

  // &:before {
  //   content: '';
  //   width: 100%;
  //   position: absolute;
  //   top: -2rem;
  //   height: 0.2rem;
  //   background: $secondary-bg;
  // }
}