@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: Roboto;
}

h1 {
  font-size: 3.7rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

p,
span,
li {
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
div,
nav,
p,
img,
span,
input {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

input {
  border: 0;
  outline: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  all: unset;
}

hr {
  border: 0;
}

.font-s-4xl {
  font-size: 3rem;
}

.font-w-700 {
  font-weight: 700;
}

.btn-style {
  background: #4c6fff;
  border-radius: 0.8rem;
  transition: 0.2s;
  cursor: pointer;
}
.btn-style:hover {
  background: #4d5bec;
}
.btn-style:hover i {
  color: #ffffff;
}

.btn-s {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4c6fff;
  color: #ffffff;
  border-radius: 0.8rem;
  transition: 0.2s;
  cursor: pointer;
}
.btn-s:hover {
  background: #4d5bec;
}

.icon-s {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  transition: 0.2s;
  cursor: pointer;
}
.icon-s:hover {
  background: rgba(202, 202, 202, 0.349);
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f4f8;
  border-radius: 0.8rem;
}
.input-box input {
  background: rgba(0, 0, 0, 0);
  padding: 1.2rem;
}
.input-box button {
  width: 4.1rem;
  height: 4.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  font-size: 1.8rem;
}
.input-box button i {
  color: #6e7c87;
}
.input-box:focus-within button {
  background: #4c6fff;
}
.input-box:focus-within button:hover {
  background: #4d5bec;
}
.input-box:focus-within i {
  color: #ffffff;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: #e8edf6;
  padding: 12rem 10rem 0 10rem;
}

.section-style {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-card {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 1rem;
  border-radius: 2rem;
}
.product-card .product-card__image-box {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
}
.product-card .product-card__image-box .icon-box-s {
  display: none;
}
.product-card .product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem;
}
.product-card .product-info h3 {
  font-weight: 500;
}
.product-card .product-info .buy-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.product-card .product-info .buy-container .price-container span {
  color: #6e7c87;
  font-weight: 500;
  font-size: 1.6rem;
}

/*# sourceMappingURL=main.css.map */
