@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: Roboto;
}

h1 {
  font-size: 3.7rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

p,
span,
li {
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
div,
nav,
p,
img,
span,
input {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

input {
  border: 0;
  outline: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  all: unset;
  cursor: pointer;
}

hr {
  border: 0;
}

.font-s-4xl {
  font-size: 3rem;
}

.font-w-700 {
  font-weight: 700;
}

.btn-style {
  background: #4c6fff;
  border-radius: 0.8rem;
  transition: 0.2s;
  cursor: pointer;
}
.btn-style:hover {
  background: #4d5bec;
}
.btn-style:hover i {
  color: #ffffff;
}

.cart-item__amount > i {
  color: #4c6fff;
  cursor: pointer;
}

.cart-item__amount-disable {
  display: none;
}

.btn-xs {
  background: transparent;
  color: #FA243C;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #FA243C;
  border-radius: 3rem;
  font-size: 1.1rem;
  transition: 0.2s;
}
.btn-xs:hover {
  background: #e7253c;
  color: #ffffff;
}

.btn-xs-border {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid transparent;
  border-radius: 50%;
  transition: 0.2s;
}
.btn-xs-border:hover {
  border: 0.2rem solid;
}

.btn-s {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4c6fff;
  color: #ffffff;
  border-radius: 0.8rem;
  transition: 0.2s;
  cursor: pointer;
}
.btn-s:hover {
  background: #4d5bec;
}

.icon-s {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  transition: 0.2s;
  cursor: pointer;
}
.icon-s:hover {
  background: rgba(202, 202, 202, 0.349);
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f4f8;
  border-radius: 0.8rem;
}
.input-box input {
  background: rgba(0, 0, 0, 0);
  padding: 1.2rem;
}
.input-box button {
  width: 4.1rem;
  height: 4.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  font-size: 1.8rem;
}
.input-box button i {
  color: #6e7c87;
}
.input-box:focus-within button {
  background: #4c6fff;
}
.input-box:focus-within button:hover {
  background: #4d5bec;
}
.input-box:focus-within i {
  color: #ffffff;
}

.badge {
  width: fit-content;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4c6fff;
  color: #ffffff;
  padding: 0 0.5rem;
  border-radius: 3rem;
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
}

:root {
  scrollbar-color: #c1c1c1 #ffffff !important;
  scrollbar-width: thin !important;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: #e8edf6;
  padding: 12rem 10rem;
}

.section-style {
  width: 100%;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
}

.product-card {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 1rem;
  border-radius: 2rem;
}
.product-card .product-card__image-box {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
}
.product-card .product-card__image-box .icon-box-s {
  display: none;
}
.product-card .product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem;
}
.product-card .product-info h3 {
  font-weight: 500;
}
.product-card .product-info .buy-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.product-card .product-info .buy-container .price-container span {
  color: #6e7c87;
  font-weight: 500;
  font-size: 1.6rem;
}

.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.27);
  padding: 2rem;
  transition: 0.4s;
  z-index: 149;
  visibility: hidden;
}

.visibleOverlay {
  visibility: visible;
}

.cart-menu {
  width: 45.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 2rem;
  transition: 0.4s;
  z-index: 150;
  transform: translateX(100%);
  visibility: hidden;
}

.show-cart-menu {
  visibility: visible;
  transform: translateX(0%);
}

.cart-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#clear-cart-btn {
  font-size: 1.4rem;
  transition: 0.2s;
}
#clear-cart-btn:hover {
  color: #FA243C;
}

.cart-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: auto;
  padding: 2rem 1rem;
}

.cart-content-hide {
  display: none;
}

.empty-cart-msg {
  color: #e8edf6;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  display: none;
}
.empty-cart-msg p {
  font-size: 3rem;
}

.empty-cart-msg-visible {
  display: flex;
}

.cart-item {
  width: 100%;
  display: grid;
  grid-template-columns: 5rem 1fr auto;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  grid-gap: 0.5rem 1rem;
  background: #e8edf6;
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.2s;
}
.cart-item:hover {
  box-shadow: 0 0 0 0.05rem #a1a6b3;
}

.image-box-s {
  grid-column: 1/2;
  grid-row: 1/-1;
}
.image-box-s img {
  border-radius: 1rem;
}

.cart-item__name {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.6rem;
}

.cart-item__price {
  grid-column: 2/3;
  grid-row: 2/-1;
  font-size: 1.8rem;
  font-weight: 500;
}

.cart-item__amount {
  grid-column: 3/-1;
  grid-row: 1/2;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.cart-item__remove-btn {
  grid-column: 3/-1;
  grid-row: 2/-1;
  justify-self: end;
}

.cart-total {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-total p {
  font-size: 1.8rem;
  font-weight: 500;
}

/*# sourceMappingURL=main.css.map */
